.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}

.App-header {
  background-color: #555;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

